services:
  backend:
    build: .
    ports:
      - '5001:5001'
    env_file:
      - .env.docker
    depends_on:
      - mongo
      - redis

  frontend:
    build: ../frontend
    ports:
      - '3000:80'
    env_file:
      - ../frontend/.env.docker
    depends_on:
      - backend

  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    command: ["mongod", "--quiet", "--logpath", "/dev/null"]


  redis:
    image: redis:7
    ports:
      - '6379:6379'
    command: ["redis-server", "--loglevel", "warning"]

volumes:
  mongo_data:
